{% extends "admin/admin_layout.html"%}

{% block content%}



<div class="table100 ver3 m-b-110 ml-5 mr-5 mt-5">
    <div class="mt-5 mb-2 ">
        <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#AddBusModal">
            <i class="fas fa-plus mr-1"></i>Add Bus</button> 
     </div>
<table class="table table-hover">
  <thead>
    <tr class="row100 head">
      <th class="column100 column1" data-column="column2">Bus</th>
      <th class="column100 column1" data-column="column2">Number Plate</th>
      <th class="column100 column1" data-column="column2">Description</th>
      <th class="column100 column8" data-column="column8">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for bus in buses%}
    <tr class="">
      <td class="column100 column1" data-column="column1">{{bus.name}}</td>
      <td class="column100 column1" data-column="column1">{{bus.number}}</td>
      <td class="column100 column1" data-column="column1">{{bus.description}}</td>
     <td class="column100 column8" data-column="column8"><a class="btn btn-sm btn-primary" href="{{url_for('myadmin.edit_bus',id=bus.id)}}">
      <i class="fas fa-edit"></i></a>
         <a type="button" class="btn-sm btn-danger" href="{{url_for('myadmin.delete',id=bus.id)}}"> <i class="fas fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
        
<!-- Modal to Add Bus-->
  <div class="modal fade" id="AddBusModal" tabindex="-1" role="dialog" aria-labelledby="AddBusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Bus</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="">
                <!-- FORM HERE -->
                    <form method="POST" action="", enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        <fieldset class="form-group"> 
                            <div class='form-group'>
                                {{form.name.label(class="form-control-label")}}
                                {% if form.name.errors %}
                                    {{form.name(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                {{form.name(class="form-control form-control-lg")}}
                                {% endif %}
                               
                            </div>
                            <div class='form-group'>
                                {{form.number_plate.label(class="form-control-label")}}
                                {% if form.number_plate.errors %}
                                    {{form.number_plate(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.number_plate.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                {{form.number_plate(class="form-control form-control-lg")}}
                                {% endif %}
                               
                            </div>
                            <div class='form-group'>
                                {{form.description.label(class="form-control-label")}}
                                {% if form.description.errors %}
                                    {{form.description(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.description.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                {{form.description(class="form-control form-control-lg")}}
                                {% endif %}
                               
                            </div>
                            <div class='form-group'>
                                {{form.picture.label()}}
                                {{form.picture(class="form-control-file")}}
                                {% if form.picture.errors%}
                                    {% for error in form.picture.errors %}
                                            <span class="text-danger">{{error}}</span></br>
                                    {% endfor %}
                                {% endif%}
                                </div>
                        </fieldset>
                        <div class='form-group modal-footer'>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{form.submit(class="btn btn-primary")}}
                        </div>
                    </form>
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}