{% extends "layout.html"%} {% block content%}
<div class="login-div"></div>
{% for bus in buses%}
<article class="media content-section mt-4">
  <img
    class="rounded-circle account-img"
    src="{{url_for('static',filename='img/'+ bus.image_file)}}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted"
        ><strong>Car Number: </strong>{{ bus.number }}</small
      >
    </div>
    <h2>{{ bus.name}}</h2>
    <p class="article-content">{{ bus.description }}</p>
    <a href="#" class="btn btn-primary">Book</a>
  </div>
</article>

{% endfor %} {% endblock content%}
