<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bus Booking System - Home Page</title>

    <!-- Bootstrap core CSS -->
    <link
      href="./static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Custom styles for this template -->
    <link href="./static/css/one-page-wonder.css" rel="stylesheet" />
    <link href="./static/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="./static/css/progress.css" />
    <link rel="stylesheet" href="./static/css/vidstyle.css" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.landing')}}"
          >Bus Booking System</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated%}
            <li class="nav-item">
              <a
                class="nav-link btn btn-primary"
                href="{{ url_for('users.logout')}}"
                >Logout</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.trips')}}">Trips</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="nav-link btn btn-primary"
                href="{{ url_for('users.login')}}"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.register')}}"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="hero-img">
        <img src="./static/img/Banner_01.jpg" />
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="img-fluid rounded-circle"
                src="./static/img/crop1.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Fast and Reliable</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img
                class="img-fluid rounded-circle"
                src="./static/img/Banner_03.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Security is Assured</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="last-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <h3 class="vid-text">Check below how it works.</h3>
            <video
              src="./static/img/vid.mp4"
              id="video"
              class="screen"
              poster="./static/img/poster.png"
            ></video>
            <div class="controls">
              <button class="btn btn-sm" id="play">
                <i class="fa fa-play fa-2x"></i>
              </button>

              <button class="btn btn-sm" id="stop">
                <i class="fa fa-stop fa-2x"></i>
              </button>
              <input
                type="range"
                id="progress"
                class="progress"
                min="0"
                max="100"
                step="0.1"
                value="0"
              />
              <span id="timestamp" class="timestamp">00:00</span>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Book from Anywhere</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <div class="py-5 bg-black">
      <p class="m-0 text-center text-white small">
        Copyright &copy; STEPHEN KPOGO 2019
      </p>

      <!-- /.container -->
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="./static/vendor/jquery/jquery.min.js"></script>
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/vidscript.js"></script>
  </body>
</html>
